@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model App.Models.FileUploadModel
@{
    ViewData ["Title"] = "Home Page";
}

<div class="container-fluid">
    <form asp-action="Index" method="post" asp-controller="Home" asp-area="" enctype="multipart/form-data">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <a href="@Url.Action("PrintRecord","StockManagement",new{Area="Admin"})" target="_blank" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
            </a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Upload File

                                    @Html.TextBoxFor(x=>x.imageUpload,new{@class="form-control",type="file",style="display:none"})

                                    <button type="button" class="btn btn-secondary" id="btnUpload">Upload</button>
                                </div>

                            </div>
                            <div class="col-auto">
                                @{
                                    //  var path = "notfound.png";
                                    var path = @HttpContextAccessor.HttpContext.Session.GetString ( "Path" ) != null ? "uploads/" + @HttpContextAccessor.HttpContext.Session.GetString ( "Path" ) : "template/img/notfound.png";
                                    <embed style="height:50px; width:50px; border:none;" src="~/@path" id="imgPreview" />
                                }
                                <button class="btn btn-secondary" type="submit" style="display:none;" id="btnSubmitFile">Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->

        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Images</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="overflow:auto;">
                        <div class="chart-area text-center">
                            <a style="display:none;" href="@Url.Action("LoadImages","Home",new{Area=""})" class="btn btn-primary">Load Images</a>
                            @*Images List*@
                            <div class="row">
                                @if ( ViewData ["Images"] != null )
                                {
                                    foreach ( var images in ViewData ["Images"] as IList<String> )
                                    {
                                        <div class="col-md-4 col-sm-12 col-lg-2 p-4">
                                            @if ( images.Contains ( ".pdf" ) )
                                            {
                                                <a class="btn btn-danger" target="_blank" href="~/@images">@images.Replace("uploads/","").Substring(Math.Min(5,@images.Replace("uploads/","").Length))</a>
                                            }
                                            else if ( images.Contains ( ".xlsx" ) )
                                            {
                                                <a class="btn btn-success" target="_self" href="~/@images">@images.Replace("uploads/","").Substring(Math.Min(5,@images.Replace("uploads/","").Length)) Excel</a>
                                            }
                                            else
                                            {
                                                <a target="_blank" href="~/@images"><embed src="~/@images" style="height:100px; width:100px;" /></a>
                                            }

                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->

        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4"></div>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $('#btnUpload').click(function () {
        $('#imageUpload').click();
        $('#btnUpload').hide();
        //this.style("display", "none");
        $('#btnSubmitFile').show();
    });
    $('#imageUpload').change(function () {
        const file = this.files[0];
        if (file) {
            let reader = new FileReader();
            reader.onload = function (event) {
                $("#imgPreview").attr("src", event.target.result);
            };
            reader.readAsDataURL(file);
        }
    });
</script>